body {
    background-color: rgb(141, 63, 63);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px; 
}

#Nombre {
    font-size: 42px;
    margin-top: 20px;
    text-align: center;
    position: static;
    
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#Nombre {
    font: size 24px;;
    color: #333;
}

.menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 90%;
    border: none;
}

estado{
    font-weight: bold;
    color: green;
}

abando {
    /*que este tachado con mas tamaño*/
    text-decoration: line-through black;
    font-weight: bold;
    color: red;
}

proce{
    font-weight: bold;
    color: blue; 
}

#contacto {
    padding-top: 70px;
    width: 18%;
    position: absolute;
    font-size: 15px;
    background: linear-gradient(90deg, #ebeef0 , #ffffff);
    box-shadow: 1px 7px 12px #000; 
    height: auto;
}

#foto {
    border-radius: 20%;
    /*centrar la imagen en el centro*/
    display: flex;
    justify-content: center;

}

#contacto h3 {
    border-bottom: 2px solid #000;
    text-align: center;
    padding-top: 15px;
}

#proyectos {
    margin-top: 5%;
    margin-left: 20%;
    width: 78%;
    position: absolute;
    font-size: 15px;
    background: rgb(45, 80, 196);
    box-shadow: 1px 7px 12px #000; 
    /*Necesito que llegue hasta el final siempre*/
    height: auto%;
    color: #fff;
    
}

#misProyectos {  
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#proyecto1 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto1 h3 {
    text-align: center;
}

#proyecto2 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto2 h3 {
    text-align: center;
}

#proyecto3 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto3 h3 {
    text-align: center;
}

#proyecto4 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto4 h3 {
    text-align: center;
}

#proyecto5 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto5 h3 {
    text-align: center;
}

#proyecto6 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}
#proyecto6 h3 {
    text-align: center;
}

#proyecto7 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto7 h3 {
    text-align: center;
}

#proyecto8 {
    align-items: center;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 7px 12px #000; 
}

#proyecto8 h3 {
    text-align: center;
}